---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.tsx';
import Footer from '../../components/Footer.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import QuestionAndAnswer from '../../components/QuestionAndAnswer';
import AboutUs from '../../components/AboutUs';
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <Header client:load pathname={pathname} subpath={subpath} />
		<main class="w-full h-full text-center">
            <AboutUs /> 
		</main>
		<Footer />
	</body>
</html>