---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.tsx';
import Footer from '../../components/Footer.tsx';
import ContentEditor from '../../components/ContentEditor.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';


const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);


---



<!doctype html>
    <html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-screen flex flex-col">
        <Header client:load pathname={pathname} subpath={subpath} />
        <main class="bg-gray-100 h-full">
            <ContentEditor client:load />
        </main>
        <Footer />
    </body>
    </html>
